<h1>Update <%= @room.name() %></h1>

<form action="/rooms/<%= @room.name() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="room_name">Rename room</label>
  <input id="room_name" name="room_name" type="text" required>

  <label for="room_color">room color</label>
  <input id="room_color" name="room_color" type="text" required>

  <label for="room_prop">room prop</label>
  <input id="room_prop" name="room_prop" type="text" required>

  <label for="room_sense">room sense</label>
  <input id="room_sense" name="room_sense" type="text" required>

  <label for="room_exit">room exit</label>
  <input id="room_exit" name="room_exit" type="text" required>

  <button type="submit">Update</button>
</form>

<form action="/rooms/<%= @room.name() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete room</button>
</form>

<p><a href="/rooms">Return to room list</a></p>
