<h1>Add a new room</h1>

<form action="/rooms" method="post">
  <div class="form-group">

    <label for="room_name">Room name</label>
    <input id="n" name="room_name" class="form-control" type="text">


<!-- THESE NOT WORKING YET -->
    <label for="year">Room name</label>
    <input id="year" name="year" class="form-control" type="text">

    <label for="room_prop">Room prop</label>
    <input id="room_prop" name="room_prop" class="form-control" type="text">

    <label for="room_sense">Room sense</label>
    <input id="room_sense" name="room_sense" class="form-control" type="text">

    <label for="room_exit">Room exit</label>
    <input id="room_exit" name="room_exit" class="form-control" type="text">

  </div>
  <button type="submit" class="btn">Go!</button>
</form>
